<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Biblioteca</title>
  </head>
  <body>
    <div class="container">
      <div class="wrapper">
        <div class="main">
          <h1>Livros</h1>
          <ul>
              <% livros.forEach(livro => { %>
                <li>
                  <h3>Titulo: <%= livro.titulo %></h3>
                </li>
              <% }) %>
          </ul>
        </div>
      </div>
    </div>
    
  </body>
</html>
