<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emprestimo de Livro</title>
</head>
<body>
    <div class="container">
        <div class="wrapper">
            <form action="/emprestimo" method="POST">
                <input type="text" placeholder="Digite uma Data Válida" name="dataRetirada" id="dataRetirada">
                <input type="number" name="diasAluguel" id="diasAluguel" value="2" min="2" max="30" step="1">
                <input type="submit" value="Alugar">
                <input style="display: none;" type="text" value="<%= livroId %>" name="livroId">
            </form>
        </div>
    </div>
    
</body>
</html>