<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form method="POST" action="/login-token">
        <label for="email">Login</label>
        <input name="email" id="email" type="text">
        <label for="senha">Senha</label>
        <input name="senha" id="senha" type="text">
        <input type="submit">
    </form>
</body>
</html>