<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    <form method="POST" action="register-user">
        <label id="nome" for="nome">Nome</label>
        <input type="text" name="nome" id="nome">

        <label for="email">Email</label>
        <input id="email" name="email" type="text">

        <label id="senha" for="senha">Senha</label>
        <input type="text" name="senha" id="senha">

        <input type="submit">
    </form>
</body>
</html>